.whysecgap{padding: 3rem 0; }
.Trusted-whypickzon{min-width: 115px; display: flex;
  align-items: center; font-size: 1.5rem; font-weight: 700;}
.whypickzonuser-list .ui.list{display: flex;}
.whypickzonuser-list .ui.list .item{max-width: 50px;padding: 0;}
.whypickzonuser-list .ui.list .item img{border-radius: 30px;}
.whysec1-title{font-size: 3rem;}
.whysec1-title span{ color: #009cff;}
.whysec1-text{font-size: 1.4rem;}
.whypickbutton .ui.button{box-shadow: 0 0 0 2px; border-radius: 50px;}
.whysec1{background-size: 100%; background-position: bottom center; padding: 3rem 0;
  background-repeat: no-repeat;}
.why-cardimg img.ui.image{margin: 10px auto;}

.whypickzonuser-list .ui.list .item.custom-user{max-width: 200px;
  align-items: center; display: flex;  padding: 0 10px;}
.whybox-text p{font-size: 1.2rem; min-height: 100px;}
.whybox-title h3{margin-bottom: 5px; text-align: center;}
.whypickzon-service-inner{text-align: center;}
.service-inner-title1{margin-bottom: 5px; color: #4215ff; font-size: 2rem;}
.service-inner-title2{font-size: 2.5rem; margin: 0; line-height: normal;}
.service-inner-text{margin: 0; font-size: 1.2rem; padding: 0 0 15px 0;}
.outservices .why-left-text{padding:15px 10px;text-align: center;border-radius: 10px;}
.outservices .why-left-text img{margin:0 auto;}
.outservices .why-left-text h3{margin: 10px 0 10px 0;}

.middle-content{display: flex; align-items:flex-end; justify-content: center;}
.top-text{color: #a95dc6;text-transform: uppercase; font-size: 1.4rem;  text-align: center;}
.top-title{font-size: 2.5rem;}
.bottom-text{font-size: 1.3rem;}
.right-center{display: flex; width: 100%;  justify-content: flex-end;}
.why-left1{display: flex;justify-content: flex-end;}
.why-left3{margin-top: 2rem; display: flex; justify-content: center;}
.num-left{min-width: 40px; min-height: 40px; display: flex; align-items: center;
  justify-content: center; color: #fff; font-size: 1.3rem; font-weight: 700; border-radius: 50px;}
.pickzonworkflow .ui.feed>.event>.label+.content{margin-top: 0;}
.pickzonworkflow .ui.feed>.event>.content .summary{font-size: 1.2em;}
.pickzonworkflow .ui.feed>.event>.content .date{margin-top: 0;font-weight: 700;}
.middle-content .ui.button{font-size: 1.6rem; border-radius: 50px;}
.text-middle{display: flex;  height: 100%;   align-items: center;}
.height-fix{min-height: 90px;text-align: justify;}
.whybox-text p{text-align: justify;}


@media only screen and (max-width: 1199px) {
  .whysec1{background-color: #fbcefb;background-image: none !important;}
  .whysec1-title{font-size: 2rem;}
}
@media only screen and (max-width: 991px) {
  .imagecenter img{margin: 0 auto;}
  .top-title{font-size: 2rem;}
  .whysec1-title{font-size: 2rem;}
  .whysec1-text{font-size: 1.2rem;}
  .ui.grid>.row>.column.why-mobile-full{margin-bottom: 15px;}
  .why-mobile-full .ui.card{margin: 0 auto !important;}
  .top-title{font-size: 3rem;}
}

@media only screen and (max-width: 767px) {
.whysec1-title{text-align: center;}
.whysec1-text {text-align: justify;}
.whypickbutton{text-align: center;}
.whysec1-outer .ui.items>.item{display: flex; flex-direction: row;}
.whysec1right img.ui.image{margin: 0 auto;}
.top-title{font-size: 2rem;text-align: center;}
.bottom-text{text-align: justify;}
.whysec1-title{font-size: 2rem;}
}
@media only screen and (max-width: 620px) {
.ui.grid>.row>.column.middle-left-full,
.ui.grid>.row>.column.middle-center-full,
.ui.grid>.row>.column.middle-right-full{ width: 100% !important;}
.why-left-outer, 
.why-right-outer{display: flex; align-items: center; justify-content: space-evenly;}
.right-center{width: auto;}
.ui.grid>.row>.column.middle-center-full{margin: 15px 0;}
.service-inner-text{text-align: justify;}
}

@media only screen and (max-width: 480px) {
.ui.grid>.row>.column.why-mobile-full{width: 100% !important;}
.service-inner-title2{font-size: 2rem;}
}
@media only screen and (max-width: 380px) {
.full-feed-mobile{width: 100% !important;} 
.service-inner-title2{font-size: 2rem;}
}

















