/* .content-test-padding {
  padding: 2% 5%;
} */

.arrow-right-color {
  color: #007bff !important;
}

ul,
ol {
  padding: 0 0 0 20px;
}

.under-bottom h1:after {
  content: '';
  height: 5px;
  width: auto;
  background-color: #007bff;
  position: absolute;
  left: 30%;
  bottom: -4px;
  right: 30%;
  border-radius: 50px;
}

.under-bottom h1 {
  position: relative;
  padding-bottom: 2px;
  margin-bottom: 10px;
  border-bottom: 2px solid #007bff;
  display: inline-block;
}

.mb-0 {
  margin-bottom: 0;
}

.mt-10 {
  margin-top: 10px;
}

.mt-15 {
  margin-top: 15px;
}

/* .pl-25 {
  padding-left: 25px;
} */

.services-custom li {
  margin: 5px 0;
}



.no-pd {
  padding: 0 !important;
}

.bg-green {
  background-color: #13ba51;
}
.pickzon-blue{background-color: #1645f2;}
.easy-deals,
.become_seller,
.live_broadcasting,
.shopping,
.get-service,
.support {
  width: 50%;
  text-align: center;
  padding: 2%;
}

.Chat-Freely {
  width: 50%;
  text-align: center;
  padding: 2%;
}

.full-width {
  display: flex;
}

.clips {
  width: 50%;
  text-align: center;
  padding: 2%;
}

.pt-10 {
  padding-top: 10px;
}

.pb-10 {
  padding-bottom: 10px;
}

.font-30 {
  font-size: 30px;
}

.green {
  color: #13ba51;
}

.white {
  color: #fff;
}

.pb-2 {
  padding-bottom: 5%;
}

.pt-5 {
  padding-top: 5%;
}

.featubg {
  background-color: black;
  text-align: center;
}

.clips video {
  width: 52%;
}

.text-left {
  text-align: left;
}

.bg-third {
  background-color: #dfdbdb;
}

.ui.styled.accordion {
  max-width: 600px;
  margin: 50px auto;
}

.ui.styled.accordion .active.title {
  background: #74a932;
  color: #fff;
}

.full-width-faq h1 {
  text-align: center;
  margin-top: 50px;
}
.features-inner p, 
.features-inner li{font-size: 1.2rem;margin-bottom: 15px;}
.content-test-padding ul li{    line-height: 1.4285em;}


@media only screen and (max-width: 1099px) {
  .full-width-2 img {
    width: 45%;
  }

  .image-brand img,
  .shopping-image img {
    width: 80%;
  }
}


@media only screen and (max-width: 767px) {
  .content-test-padding {
    padding: 8% 5% 3% 5%;
  }

  .ui.styled.accordion {
    max-width: 92%;
    margin: 50px auto;
  }

  .full-width-faq h1 {
    margin-top: 20px;
    font-size: 20px;
  }

  .ui.styled.accordion {
    margin-top: 20px;
  }

  .accordion p,
  .about-inner p,
  .easy-deals p,
  .become_seller p,
  .live_broadcasting p,
  .shopping p,
  .get-service p,
  .support p,
  .Chat-Freely p,
  .clip_center p {
    text-align: justify;
  }

  .whypickzon-inner p,
  .whypickzon-inner ul li {
    text-align: justify;
  }

  .security-inner p,
  .services-custom li {
    text-align: justify;
  }

  .features-inner p,
  .features-inner ul li {
    text-align: justify;
  }

  .policy-inner p,
  .policy-inner ul li {
    text-align: justify;
  }

.about-section{padding-top: 30px;}

}

@media only screen and (max-width: 520px) {
  .full-width {
    flex-direction: column;
  }

  .Chat-Freely,
  .clips,
  .easy-deals,
  .become_seller,
  .live_broadcasting,
  .shopping,
  .get-service,
  .support {
    width: 100%;
  }

  .Chat-Freely p,
  .clip_center p,
  .easy-deals p,
  .become_seller p,
  .live_broadcasting p,
  .shopping p,
  .get-service p,
  .support p {
    text-align: justify;
  }

  i.icon,
  i.icons {
    display: none;
  }

  .pl-25 {
    padding: 0;
  }

  .under-bottom h1 {
    font-size: 20px;
  }

  .footer-inner h3 {
    font-size: 16px;
  }

  .footer-inner ul li {
    font-size: 14px;
  }
}