.login-title {
  font-size: 3rem;
}

.use-pickzon {
  padding: 5% 0;
  background-size: 100%;
  background-repeat: no-repeat;
}

.loginapparea a img {
  width: 150px;
  border-radius: 10px;
}

.loginapparea a {
  margin: 0 30px 0 0;
}

.loginapparea {
  display: flex;
  margin-top: 4rem;
}

.login-left-area-outer {
  display: flex;
  align-items: center;
  height: 100%;
}

.rightlogin {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width:767px) {
  .use-pickzon{background-color: #f5f5f5; background-image: none !important;}
}

@media only screen and (max-width:480px) {
  .login-title {
    font-size: 2rem;
  }
}