h1.contact-top-title{    padding: 5rem 15px 1rem !important;}
  .contact-top-title .sub header{color: #fff;}
  .onmobileview{padding: 0 2rem;} 
  .ui.form.onmobileview{margin-bottom: 7rem;}
  @media screen and (max-width: 767px) {
    .contact-top-title, .contact-top-title-2{color: #fff !important;}
  }